.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #03c9d7;
      color: white;
    }
  }
}

.chart-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 412px;
}

.p-chart {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;

  max-height: 400px;

}
