<p-toast></p-toast>

<div *ngIf="!errorMessage" class="search-container mb-5">
  <mat-form-field>
    <input matInput [(ngModel)]="searchTerm" placeholder="Search admins" (input)="onSearch()">
  </mat-form-field>
</div>

<div *ngIf="errorMessage" class="alert alert-danger py-1 mb-4 mt-8 text-center" role="alert">{{errorMessage}}</div>
<div class="table-wrapper mb-10 ">
  <table *ngIf="!errorMessage" mat-table [dataSource]="admins" class="mat-elevation-z8 ">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let admin; let i = index"> {{i + 1}} </td>
    </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let admin"> {{admin.username}} </td>
  </ng-container>

  <ng-container matColumnDef="isSuperAdmin">
    <th mat-header-cell *matHeaderCellDef> Super Admin </th>
    <td mat-cell *matCellDef="let admin"> {{admin.isSuperAdmin ? 'Yes' : 'No'}} </td>
  </ng-container>

  <ng-container matColumnDef="permissions">
    <th mat-header-cell *matHeaderCellDef> Permissions </th>
    <td mat-cell *matCellDef="let admin"> {{admin.isSuperAdmin ? "All permissions" : admin.permissions.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef> Active </th>
    <td mat-cell *matCellDef="let admin"> {{admin.isActive ? 'Yes' : 'No'}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created At </th>
    <td mat-cell *matCellDef="let admin"> {{admin.createdAt | date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let admin">
      <button mat-icon-button color="primary" (click)="openEditDialog(admin)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="confirmDelete(admin)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<mat-paginator
class="border"
  [length]="totalAdmins"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
  *ngIf="!errorMessage && totalAdmins > 0">
</mat-paginator>
