/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Center the toast */
.p-toast {
  position: fixed; /* Fixed position for responsiveness */
  top: 20px; /* Distance from the top */
  left: 50%; /* Center from the left */
  transform: translateX(-50%); /* Centering transform */
  max-width: 90%; /* Max width for responsiveness */
  width: auto; /* Auto width */
  z-index: 1000; /* Make sure it's on top */
}

.p-toast-message {
  word-break: break-word; /* Break long words */
  padding: 1rem; /* Adjust padding */
  max-width: 100%;
  margin-inline: 15px; /* Prevent overflow */
}


