<div class="relative flex justify-center">
  <div>

    <button (click)="toggleDropdown()" aria-label="Toggle Notifications"
      class="relative z-10 block rounded-md p-2 focus:outline-none">
      <svg class="h-5 w-5 text-grey-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
      </svg>
      <span *ngIf="notifications.length > 0" class="absolute top-0 right-0 h-2 w-2 bg-red-500 rounded-full"></span>
    </button>

    <div *ngIf="dropdownOpen" (click)="toggleDropdown()" class="fixed inset-0 h-full w-full z-10"></div>

    <div *ngIf="dropdownOpen && notifications.length > 0"
      class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20 max-h-44 overflow-y-auto"
      style="width: 20rem;">
      <div class="py-2">

        <div *ngFor="let notification of notifications; let i = index"
          class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
          <img class="h-8 w-8 rounded-full object-cover mx-1"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="User Avatar" />
          <div class="ml-2">
            <p class="text-gray-600 text-sm">
              <span class="font-bold">Notification</span>: {{ notification?.message }}
            </p>
            <!-- <p class="text-gray-500 text-xs">{{ formatDate(notification?.createdAt) }}</p> -->
          </div>
        </div>
      </div>


      <span *ngIf="notifications.length > 0" (click)="markAllAsRead()"
        class="block bg-gray-800 text-white text-center font-bold py-2 cursor-pointer">
        Mark all as Read
      </span>
    </div>


    <div *ngIf="dropdownOpen && notifications.length === 0"
      class="absolute right-0 mt-2 bg-white rounded-md shadow-lg z-20 p-4 text-center">
      <p class="text-gray-600 text-sm">No notifications available</p>
    </div>
  </div>
</div>