<p-toast></p-toast>
<div *ngIf="!errorMessage" class="search-container mb-5">
  <mat-form-field>
    <input matInput [(ngModel)]="searchTerm" placeholder="Search by  action" (input)="onSearch()">
  </mat-form-field>
  <button  class="bg-orange-400 px-3 py-2 rounded " (click)="onSearch()">Search</button>
</div>
@if(errorMessage){
  <div class="alert alert-danger py-1 mb-2 mt-8 text-center" role="alert">{{errorMessage}}</div>
}
@else{
  <div class="table-wrapper">
<table mat-table [dataSource]="logs" class="mat-elevation-z8 mb-10">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Admin Name </th>
    <td mat-cell *matCellDef="let log"> {{log.admin.username}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let log"> {{log.action}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created At </th>
    <td mat-cell *matCellDef="let log"> {{log.createdAt | date:'medium'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-paginator
class="border"
  [length]="totalLogs"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
  *ngIf="!errorMessage && totalLogs > 0">
</mat-paginator>
}
