@keyframes slideDown{
  0%{
    opacity: 0 ; 
    transform: translateY(-20px) ; 
}
    100%{
    opacity: 1 ; 
    transform: translateY(0) ;
}
}

.animate-slideDown{
  animation: slideDown 0.5s ease forwards ; 
}


        // <!-- <div
        //   class="hide"
        //   title="{{ category.description[selectedLanguage] }}"
        // >
        //   {{ category.description[selectedLanguage] }}
        // </div> -->